.welcome-text {
  text-align: center;
  font-size: 30px;
  margin: 100px 0px 10px;
}
.info-text {
  text-align: center;
  font-size: 15px;
  margin: 10px;
}
.search {
  margin: 20px;
}

@keyframes slide {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 400px 2s ease-out;
    opacity: 1;
  }
}

@keyframes disappear {
}
